body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}
#ramen-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.ramen-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
}
.ramen-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#ramen-detail {
    margin-top: 20px;
    background: white;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
}
