body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    padding: 0.1px;
    color: white;
    font-size:xx-small;
}

#ramen-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

#image {
    height: 100%;
    width: 100%;
}

#ramen-menu img {
    width: 150px;
    height: 100px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#ramen-menu img:hover {
    transform: scale(1.1);
}

#ramen-detail {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 1px 1px 3px;
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#new-ramen-form {
    background-color: white;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 1px 1px 3px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#new-ramen-form label {
    display: block;
    margin: 10px 0 5px;
}

#new-ramen-form input, #new-ramen-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#create-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#create-button:hover {
    background-color: #5a5959;
}